.uploadMainContainer {
  background-color: red;
}

.uploadTitle {
  color: greenyellow;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: inherit;
  gap: 10px;
  width: 50%;
  padding: 0px;
}

.submit-btn {
  width: 12%;
}
