body {
  font-family: verdana;
  background-color: black;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}
