.navMainContainer {
  display: flex;
  justify-content: right;
}

.navLinksContainer {
  display: flex;
  justify-content: center;
  background-color: red;
  width: 95%;
}

.navLogoutContainer {
  display: flex;
  width: 5%;
}
